body{
    background-color: #000;
}


#wrapper{
    position: absolute;
    width:100%;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height:100%;
    background: url('back.jpg');
    background-size: contain;
}

#player_wrapper{
    position: absolute;
    top :200px;
    width:100%;
}

#player{
    margin-left: auto;
    margin-right: auto;
    background: url("back2.jpg") no-repeat;
    width:50%;
    min-height: 320px;
}

#controllers {
    text-align: center;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
