body{
    background-color: #000;
}


#wrapper{
    position: absolute;
    width:100%;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height:100%;
    background: url('back.jpg') no-repeat;
    background-size: 100% 100%;
}

#player_wrapper1{
     position: absolute;
     top :150px;
     width:100%;
 }
#player_wrapper2{
    position: absolute;
    top :300px;
    width:100%;
}
#player_wrapper3{
    position: absolute;
    top :450px;
    width:100%;
}

#controllers1 , #controllers2 , #controllers3 {
    text-align: center;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

#audio_position {
    color: white;
}